.title {
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #2563eb, #4f46e5, #7c3aed);
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}

.button {
    margin: 0 auto 50px;
    display: flex;
    background-color: #2563eb;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px #1e40af;

    &:hover {
        background-color: #4f46e5;
        box-shadow: 0 4px #3730a3;
        cursor: pointer;
    }

    &:active {
        background-color: #7c3aed;
        box-shadow: 0 4px #5b21b6;
    }

    &:disabled {
        background-color: #a1a1aa;
        box-shadow: 0 4px #52525b;
        color: #000000;
        cursor: no-drop;

        &:hover {
            background-color: #a1a1aa;
            box-shadow: 0 4px #52525b;
            color: #000000;
            cursor: no-drop;
        }
    }
}